<h1>Edit profile</h1>

<div class="well">
  <%= form_for @user do |f| %> 
  
    <%= f.label :username %>
    <%= f.text_field :username %>
  
    <%= f.label :password %>
    <%= f.password_field :password %>

  <br />

    <%= submit_tag "Save Edits", class: "btn btn-success" %>
  <% end %>


</div>