<%= form_for @post, html: {class: "well" } do |f| %>

   <%= render "shared/errors", obj: @post %>


  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :body %>
  <%= f.text_field :body %>
  <br>
<div class="control-group">
  <%= f.label "Categories" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
  <% end %>
</div>
  <%= f.submit(@post.new_record? ? "Create Post" : "Update Post", class: "btn btn-primary") %>
<% end %>