<div class="row">
  <div class="well span0">
    <%= link_to vote_post_path(post, vote: true), method: "post" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  <p>
    <%= post.total_votes %>
  </p>
    <%= link_to vote_post_path(post, vote: false), method: "post" do %>
      <i class="icon-arrow-down"></i>
    <% end %>



  </div>

  <div class="span8 well">




    <h4> <%= link_to post.title, format_url(post.url) %> </h4>
    <p><%= post.body %></p>
    <p>
      <span class="quiet">posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= format_datetime(post.created_at) %> </small>
    </p>
  <small>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </small>
  </div>
</div>