<div class="row">
  <div class="well span0">

    <% if logged_in? %> 
      <%= link_to vote_post_path(post, vote: true), method: "post", remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>

  <p class="text-center">
    <span id="post_<%=post.id%>_votes"><%= post.total_votes %></span>
  </p>
    
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: "post", remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
</div>



  <div class="span8 well">




    <h4> <%= link_to post.title, format_url(post.url) %> </h4>
    <p><%= post.body %></p>
    <p>
      <span class="quiet">posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= format_datetime(post.created_at) %> </small>
    </p>
  <small>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </small>
  </div>
</div>