 <% if belongs_to_user(@post) %> 
    <p class="pull-right">
      <small> <%= link_to "Edit Post", edit_post_path(@post) %> </small> <br />
    </p>
 <% end %>

<%= render "shared/title_header", title: @post.title %>

<p> By
  <%= render "users/link_to_profile", obj: @post %>
</p>

<%= link_to format_url(@post.url) %> <br /> 

 <% if @post.body %>
  <div class="row">
    <div class="well span8">
      <p> 
        <%= @post.body %>
      </p> 
    </div>
  </div>

 <% end %>

<br>


<%= render @post.categories %>

<% if logged_in? %>

  <%= form_for [@post, @comment] do |f| %>
    <%= render "shared/errors", obj: @comment %>
    <%= f.label :body, "New Comment" %>
    <%= f.text_area :body, rows: 5, class: "span4" %>
    <br /> 

    <%= f.submit "Submit Comment", class: "btn btn-primary" %>
  <% end %>

<% else %>

<div class="well"><%= link_to "Please log in to post a comment", login_path %></div>

<% end %>

<%= render @post.comments %>
