<p class="pull-right">
  <small> <%= link_to "Edit Post", edit_post_path(@post) %> </small> <br />
</p>

<%= render "shared/title_header", title: @post.title %>

<%= link_to @post.url %> <br /> 

 <% if @post.body %>
  <p class="well"> <%= @post.body %> </p>

 <% end %>


<br>


<%= render @post.categories %>


<br />
<br />

<%= form_for [@post, @comment] do |f| %>
  <%= render "shared/errors", obj: @comment %>
  <%= f.label :body, "New Comment" %>
  <%= f.text_area :body, rows: 5, class: "span4" %>
  <br /> 

  <%= f.submit "Submit Comment", class: "btn btn-primary" %>
<% end %>

<%= render @post.comments %>
